<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <title>Document</title>
</head>
<body>
    <div class="container py-5">
        <div>
        <h1>Register</h1>
        <hr>
        <form method="POST" enctype="multipart/form-data">

            {% csrf_token %}

            {% for field in form %}
            <div>
                <p>{{ field.label }}: <br> {{ field }}</p>

            {% for error in field.errors %}
                <small style="color": red;>{{ error }}</small>
                {% endfor %}
            </div>
            {% endfor %}
                   
            <button class="btn btn-primary" type="submit">Register</button>
        </form>
        <p class="text-center">If you already have an account, <a href="/login">login</a> instead.</p>
    </div>
    
</body>
</html>